In [1]:
import sqlite3
import pandas as pd

In [2]:
# con = sqlite3.connect("immobilier.db")

In [3]:
# tables crées dans sqlite 3
# CREATE TABLE commune(
#    id_codedep_codecommune VARCHAR(50),
#    code_commune_ INT NOT NULL,
#    code_postal INT NOT NULL,
#    code_departement INT NOT NULL,
#    Nom_commune VARCHAR(50) NOT NULL,
#    code_region INT NOT NULL,
#    pmun INT,
#    ptot DECIMAL(15,2),
#    pcap INT,
#    PRIMARY KEY(id_codedep_codecommune)
# );

# CREATE TABLE Entité_9(
#    id_bien VARCHAR(50),
#    id_vente VARCHAR(50),
#    PRIMARY KEY(id_bien)
# );

# CREATE TABLE bien(
#    Id_bien INT,
#    No_voie INT,
#    type_de_voie VARCHAR(4),
#    voie VARCHAR(50),
#    total_de_pièces INT,
#    surface_carrée_ DECIMAL(15,2),
#    surface_locale INT,
#    type_de_local VARCHAR(50),
#    id_codedep_codecommune VARCHAR(50) NOT NULL,
#    id_bien_1 VARCHAR(50) NOT NULL,
#    id_codedep_codecommune_1 VARCHAR(50) NOT NULL,
#    PRIMARY KEY(Id_bien),
#    FOREIGN KEY(id_bien_1) REFERENCES Entité_9(id_bien),
#    FOREIGN KEY(id_codedep_codecommune_1) REFERENCES commune(id_codedep_codecommune)
# );

# CREATE TABLE Vente(
#    id_vente INT,
#    valeur_foncière INT,
#    Date_vente INT NOT NULL,
#    id_bien VARCHAR(50) NOT NULL,
#    PRIMARY KEY(id_vente),
#    FOREIGN KEY(id_bien) REFERENCES Entité_9(id_bien)
# );

In [4]:
# importer les csv
val_fonc  = pd.read_csv('Valeurs_foncières.csv')
don_com  = pd.read_csv('donnees_communes.csv')
referentiel_est  = pd.read_csv('fr-esr-referentiel-geographique.csv')

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_9168\3340144141.py:2: DtypeWarning: Columns (20,26,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  val_fonc  = pd.read_csv('Valeurs_foncières.csv')

In [5]:
# drop duplicates
val_fonc = val_fonc.drop_duplicates()
don_com = don_com.drop_duplicates()
referentiel_est = referentiel_est.drop_duplicates()

In [6]:
print(val_fonc.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34169 entries, 0 to 34168
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Code service CH             0 non-null      float64
 1   Reference document          0 non-null      float64
 2   1 Articles CGI              0 non-null      float64
 3   2 Articles CGI              0 non-null      float64
 4   3 Articles CGI              0 non-null      float64
 5   4 Articles CGI              0 non-null      float64
 6   5 Articles CGI              0 non-null      float64
 7   No disposition              34169 non-null  int64
 8   Date mutation               34169 non-null  object
 9   Nature mutation             34169 non-null  object
 10  Valeur fonciere             34151 non-null  float64
 11  No voie                     34036 non-null  float64
 12  B/T/Q                       2174 non-null   object
 13  Code type de voie           34169 non-null  int64
 14  Type de voie                33229 non-null  object
 15  Code voie                   34169 non-null  object
 16  Voie                        34169 non-null  object
 17  Code ID commune             34169 non-null  int64
 18  Code postal                 34168 non-null  float64
 19  Commune                     34169 non-null  object
 20  Code departement            34169 non-null  object
 21  Code commune                34169 non-null  int64
 22  prefixe de section          1143 non-null   float64
 23  Section                     34168 non-null  object
 24  No plan                     34169 non-null  int64
 25  No Volume                   0 non-null      float64
 26  1er lot                     34169 non-null  object
 27  Surface Carrez du 1er lot   34169 non-null  float64
 28  2eme lot                    0 non-null      float64
 29  Surface Carrez du 2eme lot  0 non-null      float64
 30  3eme lot                    0 non-null      float64
 31  Surface Carrez du 3eme lot  0 non-null      float64
 32  4eme lot                    0 non-null      float64
 33  Surface Carrez du 4eme lot  0 non-null      float64
 34  5eme lot                    0 non-null      float64
 35  Surface Carrez du 5eme lot  0 non-null      float64
 36  Nombre de lots              34169 non-null  int64
 37  Code type local             34169 non-null  int64
 38  Type local                  34169 non-null  object
 39  Identifiant local           0 non-null      float64
 40  Surface reelle bati         34169 non-null  int64
 41  Nombre pieces principales   34169 non-null  int64
 42  Nature culture              253 non-null    object
 43  Nature culture speciale     8 non-null      object
 44  Surface terrain             253 non-null    float64
dtypes: float64(23), int64(9), object(13)
memory usage: 12.0+ MB
None

In [12]:
# garder les bonnes colonnes
bien=val_fonc[["No voie", "Type de voie", "Voie", 
               "Nombre pieces principales", "Surface reelle bati",
              "Surface Carrez du 1er lot", "Type local", "Code departement", "Code commune"]]

# création de l'id bien
bien.reset_index(inplace = True)
bien = bien.rename(columns = {"index" :'id_bien'})
bien

,id_bien,No voie,Type de voie,Voie,Nombre pieces principales,Surface reelle bati,Surface Carrez du 1er lot,Type local,Code departement,Code commune
0,0,190.0,RUE,CENTRALE,2,52,50.42,Appartement,1,350
1,1,347.0,RUE,DU CHATEAU,3,48,48.22,Appartement,1,103
2,2,58.0,AV,DU MONT BLANC,6,130,130.80,Appartement,1,143
3,3,140.0,RUE,DE L'ABBE JOLIVET,5,109,109.22,Maison,1,288
4,4,39.0,RUE,BUFFON,4,91,108.65,Appartement,1,33
...,...,...,...,...,...,...,...,...,...,...
34164,34164,4.0,RUE,DE RIVOLI,3,99,102.09,Appartement,75,104
34165,34165,38.0,RUE,DU TEMPLE,3,56,55.95,Appartement,75,104
34166,34166,13.0,RUE,DES TOURNELLES,2,29,32.86,Appartement,75,104
34167,34167,16.0,RUE,CHARLEMAGNE,3,48,56.80,Appartement,75,104
34168,34168,3.0,RUE,SAINT-JOSEPH,1,33,35.44,Appartement,75,102

In [8]:
# transformer no voie de float à int
bien["No voie"] = bien["No voie"].where(pd.notnull(bien['No voie']), 0)
bien["No voie"] = bien["No voie"].astype(int)

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_9168\400007077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bien["No voie"] = bien["No voie"].where(pd.notnull(bien['No voie']), 0)
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_9168\400007077.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bien["No voie"] = bien["No voie"].astype(int)

In [9]:
vente = val_fonc[["Valeur fonciere", "Date mutation"]]

In [10]:
# valeurs to int
vente["Valeur fonciere"] = vente["Valeur fonciere"].where(pd.notnull(vente["Valeur fonciere"]), 0)
vente["Valeur fonciere"] = vente["Valeur fonciere"].astype(int)
# refaire index
vente.reset_index(inplace = True)
vente = vente.rename(columns = {"index" :'id_vente'})
vente

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_9168\3306146571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vente["Valeur fonciere"] = vente["Valeur fonciere"].where(pd.notnull(vente["Valeur fonciere"]), 0)
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_9168\3306146571.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vente["Valeur fonciere"] = vente["Valeur fonciere"].astype(int)

       id_vente  Valeur fonciere        Date mutation
0             0            56000  2020-02-03 00:00:00
1             1           165000  2020-01-02 00:00:00
2             2           720000  2020-01-08 00:00:00
3             3           429250  2020-01-06 00:00:00
4             4           220900  2020-01-07 00:00:00
...         ...              ...                  ...
34164     34164          1290000  2020-06-30 00:00:00
34165     34165           726000  2020-06-30 00:00:00
34166     34166           420000  2020-06-25 00:00:00
34167     34167           725000  2020-06-25 00:00:00
34168     34168           433000  2020-06-11 00:00:00

[34169 rows x 3 columns]